<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Botiga Galàctica</title>
    <link rel="stylesheet" href="/styles/style_index.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Benvingut a la Botiga Galàctica</h1>
        <p>Explora les diferents seccions de la botiga:</p>
        <div class="links">
            <a href="/producte">🛒 Productes</a>
            <a href="/categoria">📁 Categories</a>
            <a href="/subcategoria">📂 Subcategories</a>
        </div>
    </div>
</body>
</html>
